@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('./styles/header.css');
@import url('./styles/timeline.css');
@import url('./styles/about.css');
@import url('./styles/bibliography.css');

:root {
  --text: #111111;
  --background: #FFFFFF;
  --base-one: #FFA7A7;
  --base-two: #CFA7A7;
  --middle: #9FA7A7;
  --complementary: #6FA7A7;
  --complementary-two: #3FA7A7;
  --primary: #FF5656;
  --secundary: #3380B2;
  --danger: #B22B2A;
  --warning: #FFFD6F;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  margin-left: 2%;
}

#img-div {
  width: 50%;
  margin: 0 auto;
  padding: 0.5rem;
  box-sizing: border-box;
}

#image {
  width: 100%;
  max-width: 100%;
  display: block;
}
