#bibliography {
  display: flex;
  flex-direction: column;
}

#bibliography div {
  grid-column: 1 / 1;
}

#bibliography h2 {
  display: inline-block;
}

#bibliography ul {
  grid-column: 1 / 1;
  font-family: 'Roboto Slab', serif !important;
  list-style-type: none;
  font-size: 0.9rem;
}

#bibliography ul li::before {
  content: '-';
  padding-right: 1rem;
  box-sizing: border-box;
}
