#bibliography {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 30vh;
}

#bibliography div {
  grid-column: 1 / 1;
}

#bibliography h2 {
  display: inline-block;
}

#bibliography ul {
  grid-column: 1 / 1;
  font-family: 'Roboto Slab', serif !important;
  list-style-type: none;
  font-size: 0.9rem;
}

#bibliography ul li::before {
  content: '-';
  padding-right: 1rem;
  box-sizing: border-box;
}

@media (max-width: 700px) {
  #bibliography {
    display: flex;
    flex-direction: column;
  }
}

